user www-data;
worker_processes 4;
pid /run/nginx.pid;

events {
  worker_connections 1024;
}

http {

    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    server {
        listen 443 ssl;
        ssl_certificate /home/{{ user }}/jhub/cert.pem;
        ssl_certificate_key /home/{{ user }}/jhub/privkey.pem;
        access_log /home/{{ user }}/jhub/nginx-access.log;
        error_log /home/{{ user }}/jhub/nginx-error.log;

        location / {
            proxy_pass http://localhost:8000;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header Host $host;
            proxy_set_header Origin http://$host;
            proxy_set_header X-Real-Origin $scheme://$host:$server_port;
        }

        location ~ /(user/[^/]*)/(api/kernels/[^/]+/channels|terminals/websocket)/? {
            proxy_pass http://localhost:8000;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header Host $host;
            proxy_set_header Origin http://$host;
            proxy_set_header X-Real-Origin $scheme://$host:$server_port;
            proxy_set_header Referer http://$host$request_uri;
            proxy_set_header X-Real-Referer $http_referer;

            # WebSocket support
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_read_timeout 86400;
        }

        location /lib {
            add_header Access-Control-Allow-Origin *;
            root /usr/local/share/jhub;
        }

        location /~ {
            rewrite ^/~([a-z-]*)/(.*)$ /home/$1/pub/$2 ;
        }

        location /home {
            add_header Access-Control-Allow-Origin *;
            autoindex on;
            alias /home;
        }

    }
}
