[program:jupyterhub]
command=/usr/local/bin/jupyterhub
directory=/home/{{ user }}/jhub
user=jhubuser
environment=
  CAML_LD_LIBRARY_PATH="/home/{{ user }}/.opam/system/lib/stublibs:/usr/lib/ocaml/stublibs",
  MANPATH=":/home/{{ user }}/.opam/system/man",
  PERL5LIB="/home/{{ user }}/.opam/system/lib/perl5",
  OCAML_TOPLEVEL_PATH="/home/{{ user }}/.opam/system/lib/toplevel",
  PATH="/home/{{ user }}/.opam/system/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin"
autostart=true
autorestart=true
startretries=3
redirect_stderr=True
stdout_logfile=/home/{{ user }}/jhub/output.log
stderr_logfile=/home/{{ user }}/jhub/output.log
